@charset "utf-8";
/* CSS Document */

body {
	margin:0;
	padding:0;
	border:0;
	background-color:#933;
	font-family:Arial, Helvetica, sans-serif;
}

header {
	color:#FFF;
	text-decoration:none;
	box-sizing:border-box;
}

main {
	color:#000;
}

main:after {
	clear:both;
}

#navigation-bar:after{
	display:inline;
	
}

#navigation-bar ul{
	margin: 0px;
	padding: 10px;
	background-color:#000;
	width: 100%;
}

#navigation-bar ul li{
	list-style:none;
	display:inline;
}

#navigation-bar ul li a{
	height:20px;
	margin:0px;
	padding:0px 10px 0px 10px;
	text-decoration:none;
	color:inherit;
	font-size:1.5em;
	text-transform:uppercase;
}

#banner-image {
	width:100%;
}

#banner-text {
	color:#000;
	display:block;
	padding-right:5%;
	text-align:left;
	text-decoration:none;
	position:absolute;
	top:130px;
	left:20%;
}

#banner-text h1{
	margin:0;
	position:relative;
	left:10%;
	font-size:8em;
}

#banner-text h2{
	font-size:1.5em;
}

#column-L {
	width:15%;
}

#column-C {
	width:55%;	
	background-color:#CC9;
}

#column-R {
	width:15%;
}

.column {
	float:left;
	padding-left:3%
}