@charset "utf-8";
/* CSS Document */

header, section, footer, aside, article, figure {
	display: block;
}

body {
	margin:0;
	padding:0;
	border:0;
	height:100%;
	background-color:#933;
	font-family:Arial, Helvetica, sans-serif;
}

header {
	color:#FFF;
	text-decoration:none;
	box-sizing:border-box;
}

main {
	color:#000;
}

footer{
	background-color:#000;
	color:#FFF;
	text-align:center;
	position:absolute;
	height:3em;
	bottom:0;
	width:100%;
}

footer a {
	color:#FFF;
	text-decoration:none;
}

#navigation-bar ul{
	margin: 0px;
	padding: 10px;
	background-color:#000;
	width: 100%;
}

#navigation-bar ul li{
	list-style:none;
	display:inline;
}

#navigation-bar ul li a{
	height:20px;
	margin:0px;
	padding:0px 10px 0px 10px;
	text-decoration:none;
	color:inherit;
	font-size:1.5em;
	text-transform:uppercase;
}

#banner-image {
	width:100%;
}

#banner-text {
	color:#000;
	display:block;
	padding-right:5%;
	text-align:left;
	text-decoration:none;
	position:absolute;
	top:100px;
	left:20%;
}

#banner-text h1{
	margin:0;
	position:relative;
	left:10%;
	font-size:8vw;
	text-shadow:0.1em 0.1em 0.075em #CCCCCC;
}

#banner-text h2{
	font-size:2vw;
}

#column-L {
	width:10%;
}

#column-C {
	width:60%;	
	background-color:#CC9;
}

#column-C h1 {
	text-transform:uppercase;
}

#column-R {
	width:15%;
}

#footer-spacing {
	height:6em;
	margin:0;
}

.content-container {
	min-height:100%;
	position:relative;
}

.column {
	float:left;
	padding-left:2%;
	padding-right:3%;
	padding-bottom:30px;
}

.column-end {
	clear:both;
	content:"";
	display:table;
}

.text-segment {
	border:#996 3px solid;
	background-color:#CC9;
	margin-top: 30px;
	padding-left:20px;
	padding-right:10px;
	height: 220px;
}

.text-segment img {
		float:left;
		width:13vw;
		padding-right:10px;
}

.text-segment a {
	font-weight:bold;
}

.text-segment ul{
	margin-right:10%;
	padding:0;
	border-top:#996 3px solid;
}

.text-segment ul li{	
	list-style:none;
}

.text-segment ul li a{
	display:block;
	border-left:#996 3px solid;
	border-bottom:#996 3px solid;
	border-right:#996 3px solid;
	padding:3px 20px 3px 20px;
	width:inherit;
	color:#000;
	text-decoration:none;
}

.text-segment ul li a:hover{
	background-color:#999;
}

.text-segment-full {
	border:#996 3px solid;
	margin-top: 30px;
	padding-left:20px;
	padding-right:10px;
	height: 100%;
}

.text-segment-full img {
		float:left;
		vertical-align:top;
		width:15vw;
		padding-top:20px;
		padding-right:10px;
}

.text-segment-full a {
	font-weight:bold;
}

.text-segment-full table{
	width:100%;
	margin-bottom:10px;
	border:#996 2px solid;
	border-collapse:collapse;
}

.text-segment-full table tr:nth-child(even){
	background-color:#996;
}

.text-segment-full table th{
	text-align:left;
	text-transform:uppercase;
	border:#996 2px solid;
}

.text-segment-full table td{
	text-transform:capitalize;
	border:#996 2px solid;
}

.text-segment-full table td a{
	display:block;
	width:100%;
	text-decoration:none;
	color:inherit;
	padding: 2px 0px 2px 5px;
}

.text-segment-full table td a:hover{
	background-color:#999;
}